* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:0;
}
body {
  font-size: 14px;
}

#black_bar {
    width: 100%;
    height: calc(100%/8);
    background: rgba(0,0,0,1);
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
}
#menu_button {
    width: 5%;
    position: absolute;
    top: 10px;
    left: 1%;
    overflow: hidden;
}
  
#container_menu_items {
    width: 60%;
    height: 100%;
    opacity: 1;
    position: absolute;
    text-align: center;
    left: 25%;
    overflow: hidden;
}
  
.menu_text {
    color: rgba(255,255,255,1);
    position: absolute;
    font-family: Roboto;
    font-weight: Regular;
    margin: 2.2%;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
  
#menu_text1 {
    left: 0px;
}
#menu_text2 {
    left: 13%;
}
#menu_text3 {
    left: 32%;
}
#menu_text4 {
    left: 55%;
}
  
#logo_coach {
    width: calc(100%/5.7);
    height: 100%;
    position: absolute;
    top: 0px;
    left: 6%;
    overflow: hidden;
}
  
#user_logo {
    width: 50px;
    opacity: 1;
    position: absolute;
    margin: 1%;
    left: 70%;
}

#login_text {
    left: 78%;
}
  
#cart {
    width: 3%;
    margin-top: 1.5%;
    position: absolute;
    left: 95%;
    overflow: hidden;
}

#space {
    width: 100%;
    height: 150px;
    opacity: 0;
}

.photo {
    width: 50px;
    height: 50px;
}

button {
    background-color: rgba(0,188,229,1);
    color: white;
    padding: 5px;
    cursor: pointer;
}

#cancel {
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 14px;
    cursor: pointer;
}