* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:0;
}
body {
  font-size: 14px;
}
.container {
  width: 100%;
  height: 3500px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

#black_bar {
  width: 100%;
  height: 80px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
#menu_button {
  width: 74px;
  height: 64px;
  position: absolute;
  top: 8px;
  left: 18px;
  overflow: hidden;
}

#container_menu_items {
  width: 60%;
  height: 44px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 40%;
  overflow: hidden;
}

.menu_text {
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

#menu_text1 {
  left: 0px;
}
#menu_text2 {
  left: 115px;
}
#menu_text3 {
  left: 262px;
}
#menu_text4 {
  left: 454px;
}

#logo_coach {
  width: 240px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 90px;
  overflow: hidden;
}

#menu_login_button {
  width: 140px;
  height: 44px;
  color: rgba(255,255,255,1);
  font-family: Roboto;
  font-weight: Regular;
  padding-top: 10px;
  text-align: center;
  font-size: 24px;
  background: rgba(0,188,229,1);
  opacity: 1;
  position: absolute;
  left: 580px;
}

#cart {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 95%;
  overflow: hidden;
}

#home_container1 {
  width: 100%;
  height: 23%;
  opacity: 1;
  position: absolute;
  background: url("../img/home_container1_background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  top: 2%;
  left: 0px;
  overflow: hidden;
}

.home_container1_button {
  width: 500px;
  height: 100px;
  border-radius: 8px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0,188,229,1);
  background-size: cover;
  color: rgba(255,255,255,1);
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  font-size: 48px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  opacity: 1;
  position: absolute;
  top: 500px;
  left: 480px;
  cursor: pointer;
}

#home_container1_text {
  width: 910px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 328px;
  left: 266px;
  font-family: Roboto Condensed;
  font-weight: Bold;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.home_container1_eloIcon {
  width: 470px;
  height: 242px;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 485px;
  overflow: hidden;
}
.home_container1_master {
  width: 172px;
  height: 202px;
  background: url("../img/icon_master.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 297px;
  overflow: hidden;
}
.home_container1_grandmaster {
  width: 172px;
  height: 202px;
  background: url("../img/icon_grandmaster.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 0px;
  overflow: hidden;
}
.home_container1_challenger {
  width: 212px;
  height: 200px;
  background: url("../img/icon_challenger.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 134px;
  overflow: hidden;
}

#home_container2 {
  width: 100%;
  height: 15%;
  opacity: 1;
  position: absolute;
  top: 25%;
  left: 0px;
  overflow: hidden;
}

#background2 {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,1), rgba(0,69,85,1));
  filter: brightness(30%);
  position: center;
}

#img_lol  {
  width: 410px;
  height: 228px;
  border-radius: 20px;
  top: 192px;
  left: 50px;
  opacity: 1;
  position: absolute;
}

#img_tft {
  width: 410px;
  height: 228px;
  border-radius: 20px;
  top: 192px;
  left: 528px;
  opacity: 1;
  position: absolute;
}

#img_kkoma {
  width: 462px;
  height: 524px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 978px;
  overflow: hidden;
}
#home_container2_text {
  color: rgba(255,255,255,1);
  font-family: Roboto Condensed;
  font-weight: Bold;
  font-size: 64px;
  position: absolute;
  top: 40px;
  left: 49px;
  opacity: 1;
  text-align: left;
}

#home_container3 {
  width: 100%;
  height: 2100px;
  background: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1400px;
  left: 0px;
  overflow: hidden;
}

#home_container3_text1 {
  color: rgba(249,255,0,1);
  position: absolute;
  top: 32px;
  left: 15%;
  font-family: Roboto Condensed;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: center;
  overflow: hidden;
}

#home_container3_text2 {
  color: rgba(255,255,255,1);
  position: absolute;
  top: 124px;
  left: 5%;
  font-family: Roboto Condensed;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
  overflow: hidden;
}

#home_container3-1 {
  width: 100%;
  height: 828px;
  background: url("../img/home_container3_background1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 0px;
  overflow: hidden;
}

.icon_items {
  opacity: 1;
  width: 135px;
  height: 135px;
  position: absolute;
  filter: brightness(120%);
  overflow: hidden;
}
.text_items {
  width: 300px;
  position: absolute;
  color: rgba(255,209,47,1);
  font-family: Roboto Condensed;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}

#textimg_lol {
  width: 400px;
  height: 220px;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 521px;
  overflow: hidden;
}

#home_container3-1_lol-items {
  width: 990px;
  height: 470px;
  position: absolute;
  top: 260px;
  left: 0px;
  overflow: hidden;
}

#lol-icon_items1 {
  top: 0px;
  left: 30px;
}
#lol-icon_items2 {
  top: 180px;
  left: 30px;
}
#lol-icon_items3 {
  top: 335px;
  left: 30px;
}
#lol-icon_items4 {
  top: 1px;
  left: 540px;
}
#lol-icon_items5 {
  top: 160px;
  left: 541px;
}
#lol-icon_items6 {
  top: 330px;
  left: 534px;
}

#lol-text_items1 {
  top: 12px;
  left: 184px;
}
#lol-text_items2 {
  top: 182px;
  left: 184px;
}
#lol-text_items3 {
  top: 350px;
  left: 180px;
}
#lol-text_items4 {
  top: 2px;
  left: 716px;
}
#lol-text_items5 {
  top: 174px;
  left: 716px;
}
#lol-text_items6 {
  top: 370px;
  left: 716px;
}

#home_container3-2 {
  width: 100%;
  height: 784px;
  background: url("../img/home_container3_background2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1044px;
  left: 0px;
  overflow: hidden;
}

#textimg_tft {
  width: 400px;
  height: 110px;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 516px;
  overflow: hidden;
}

#home_container3-2_tft-items {
  width: 100%;
  height: 567px;
  position: absolute;
  top: 189px;
  left: 10px;
  overflow: hidden;
}

#tft-icon_items1 {
  top: 0px;
  left: 8px;
}
#tft-icon_items2 {
  top: 217px;
  left: 0px;
}
#tft-icon_items3 {
  top: 435px;
  left: 7px;
}
#tft-icon_items4 {
  width: 200px;
  top: 24px;
  left: 464px;
}
#tft-icon_items5 {
  top: 224px;
  left: 509px;
}
#tft-icon_items6 {
  top: 428px;
  left: 520px;
}

#tft-text_items1 {
  top: 24px;
  left: 170px;
}
#tft-text_items2 {
  top: 240px;
  left: 170px;
}
#tft-text_items3 {
  top: 430px;
  left: 170px;
}
#tft-text_items4 {
  top: 20px;
  left: 700px;
  width: 300px;
}
#tft-text_items5 {
  top: 240px;
  left: 700px;
}
#tft-text_items6 {
  top: 430px;
  left: 700px;
}

#home_container3-3 {
  width: 100%;
  height: 272px;
  background: url("../img/home_container3_background3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1830px;
  left: 0px;
  overflow: hidden;
}

.backgrounddarken {
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.7);
}

#home_container3-3_text {
  width: 430px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 90px;
  left: 840px;
  font-family: Roboto Condensed;
  font-weight: Bold;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
#yamato {
  width: 250px;
  height: 280px;
  transform: scaleX(-1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: -30px;
  overflow: hidden;
}







