* {
    font-family: Roboto;
    font-weight: Regular;
}

.page {
    width: 100%;
    height:50vw;
}

.w3-bar-item {
    font-size: 2vw;
}

#menu_button {
    width: 5%;
    padding-left: 0.5%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5%;
    margin-top: 0.5%;
    cursor: pointer;
  }

#home_logo_coach {
    width: 15%;
}

#bar_inicio {
    width:12%;
}
#bar_produtos {
    width:14%;
}
#bar-quemsomos {
    width:20%;
}
#bar-contato {
    width:13%;
}

#button_entrar {
    padding-left: 2.5%;
    padding-right: 2.5%;
    cursor: pointer;
}

#menu_cart {
    width: 4%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5%;
    margin-top: 0.5%;
    cursor: pointer;
}

.bar_item {
    margin-top: 0.5%;
}

#login_header_text {
    font-size: 2vw;
    font-family: Roboto Condensed;
}
#login_logo_coach {
    width: 30%;
}
.loginreg_card {
    width: 50%;
    margin-bottom: 15px;
}
#button_enter {
    width:15%;
    background-color: white;
    border: none;
    cursor: pointer;
}
.loginreg_text {
    font-size: 1.2vw;

}
#button_to_register {
    background-color: white;
    border: none;
    cursor: pointer;
}
#button_register {
    font-size: 2vw;
}
#button_to_login {
    background-color: white;
    border: none;
    cursor: pointer;
}

#bg1 {
    background-position: center;
    background-size: cover;
    background-image: url("../img/bg1img.png");
    width: 100%;
    height: 100%;
}

.backgrounddarken {
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.7);
    background-size: cover;
}


#elos_icon {
    width: 30%;
    padding-top: 2%;
}

#header_text {
    font-family: Roboto Condensed;
    font-weight: Bold;
    font-size: 5vw;
    white-space: nowrap;
    padding-top: 13%;
}

#header_button {
    font-size: 3vw;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 8px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 3%;
    cursor: pointer;
}

#bg2 {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70%;
}

#bg2color {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,1), rgba(0,69,85,1));
    filter: brightness(30%);
}

#bg2_text {
    font-family: Roboto Condensed;
    font-weight: Bold;
    font-size: 4vw;
    white-space: nowrap;
    padding-top: 1%;
    padding-left: 1%;
}

#img_lol  {
    width: 25%;
    border-radius: 15px;
    opacity: 1;
}
  
#img_tft {
    width: 25%;
    border-radius: 15px;
    opacity: 1;
}

#img_kkoma {
    height: 100%;
    padding-left: 10%;
    opacity: 1;
}

#bg3 {
    background-position: center;
    background-size: cover;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 25%;
}

#bg3_text1 {
    color: rgba(249,255,0,1);
    font-family: Roboto Condensed;
    font-weight: Bold;
    font-size: 4vw;
}
#bg3_text2 {
    color: rgba(255,255,255,1);
    font-family: Roboto Condensed;
    font-weight: Bold;
    font-size: 2.5vw;
}

.table {
    position: absolute;
    top: 30%;
    width: 90%;
    text-align: center;
}
.icon_items {
    width: 85%;
    filter: brightness(120%);
    padding-top: 50%;
  }
.text_items {
    width: 85%;
    color: rgba(255,209,47,1);
    font-family: Roboto Condensed;
    font-weight: Bold;
    font-size: 2.4vw;
    text-align: left;
}

#bg4 {
    background-position: center;
    background-size: cover;
    background-image: url("../img/bg4img.png");
    width: 100%;
    height: 100%;
}
#text_lol {
    width: 20%;
}

#bg5 {
    background-position: center;
    background-size: cover;
    background-image: url("../img/bg5img.png");
    width: 100%;
    height: 100%;
}
#text_tft {
    width: 20%;
    padding-top: 2%;
}
#table_tft {
    top: 20%;
}

#bg6 {
    background-position: center;
    background-size: cover;
    background-image: url("../img/bg6img.png");
    width: 100%;
    height: 40%;
}
#bg6_text {
  color: rgba(249,255,0,1);
  font-family: Roboto Condensed;
  font-weight: Bold;
  font-size: 5vw;
  padding-right: 5%;
}
#img_yamato {
    height: 100%;
    transform: scaleX(-1);
}

#quem_somos_container {
    width: 40%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.developer {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin-bottom: 30px;
    font-size: 2vw;
}
.developer_photo {
    width: 50%;
    padding: 5%;
}
.developer_text {
    padding: 5%;
    font-size: 2vw;
}

#container_contato {
    width: 50%;
    text-align:center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
#contato_forms {
    text-align: left;
    font-size: 1.5vw;
}
#mensagem {
    width: 100%;
}
#button_contato {
    width: 30%;
    font-size: 2vw;
}

#container_produtos {
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
#container_comprar_videos {
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 30%;
    flex: 1;
    margin: 1%;
}
.produto_header {
    padding-bottom: 2%;
}
.produto_elo {
    width: 20%;
    margin: 1%;
}
.produto_inputtext {
    width: 55%;
    font-size: 2vw;
}
.produto_input {
    width: 30%;
    margin-bottom: 10px;
}
.produtos_coin {
    width: 15%;
}
.produto_button {
    width: 100%;
    font-size: 3vw;
    margin: 3% 0;
}

#container_comprar_coachs {
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

#produto_alert_container {
    width: 35%;
    position: fixed;
    top: 13%;
    right: 0.1%;
}
.buy_alert{
    width:90%;
    margin: 3%;
    padding: 2%;
    background-color: #a8f0c6;
    border-left:5px solid #1eae5a;
    font-size: 1.5vw;
    font-family: Roboto;
    font-weight: Regular;
    border-radius:5px;
    position: relative;
    box-shadow:0 0 15px 5px #ccc;
}
#buy_alert_cart {
    background-color: #ebebeb;
    border-left-color:#646464;
}
.buy_close{
    width:30px;
    height:30px;
    opacity:0.5;
    position: absolute;
    border-color: #1eae5a;
    color: #1eae5a;
    right:1px;
    top: 1px;
    text-align:center;
    font-size:2vw;
    cursor:pointer;
}
#buy_close_cart {
    border-color: #646464;
    color: #646464;
}
