<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="./css/styles.css" rel="stylesheet"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coach Lol - Quem Somos</title>
</head>
<body>
    <div id="app">

        <!--Navbar-->
        <nav-bar></nav-bar>
    
        <!--Login-->
        <login></login>
        
        <!--Register-->
        <register></register>
    
        <br><br><br>
    
        <actual_page></actual_page>
        
        <!--Closing App-->
        </div>
    
        <template id="navbar">
            <div class="w3-top w3-margin-right">
                <div class="w3-bar w3-black w3-xxxlarge">
                <img class="w3-image w3-left" id="menu_button" src="img/menu_button.png" alt="Botão de Menu">
                <img class="w3-image w3-left" id="home_logo_coach" src="img/logo_coach.png" alt="Logo do Site">
                <a href="#" class="w3-bar-item w3-button bar_item" id="bar_inicio">Início</a>
                <a href="#" class="w3-bar-item w3-button bar_item" id="bar_produtos">Produtos</a>
                <a href="#" class="w3-bar-item w3-button bar_item" id="bar_quemsomos">Quem Somos</a>
                <a href="#" class="w3-bar-item w3-button bar_item" id="bar_contato">Contato</a>
                <button class="w3-bar-item w3-button w3-blue bar_item" id="button_entrar" v-if="tipodousuario==0">Entrar</button>
                <element class="w3-bar-item w3-margin-top" id="bar_logado_usr" v-if="tipodousuario==1">Bem Vindo(a) {{nomedousuario}}! </element>
                <element class="w3-bar-item" id="bar_logado_prof" v-if="tipodousuario==2">Bem Vindo(a) professor(a) {{nomedousuario}}! </element>
                <element class="w3-bar-item" id="bar_logado_adm" v-if="tipodousuario==3">Bem Vindo(a) {{nomedousuario}}! (adm) </element>
                <img class="w3-image w3-right" id="menu_cart" src="img/cart.png" alt="Carrinho">
                </div>
            </div>
        </template>
    
        <template id="login">
            <div id="card_login" class="w3-modal">
                <div class="w3-modal-content w3-animate-top w3-card-4 loginreg_card">
                    <header class="w3-container w3-center w3-indigo"> 
                        <button class="w3-btn w3-xxlarge w3-display-topright" id="close_login">&times;</button>
                        <img class="w3-image" id="login_logo_coach" src="img/logo_coach.png" alt="Site logo">
                        <br><br>
                        <span class="w3-text-white" id="login_header_text">Faça o Login ou Registre-se</span>
                    </header>
                    <form class="w3-container" action="">
                        <div class="w3-row w3-section">
                            <div class="w3-col s1 l1 w3-center"><i class="w3-xlarge flaticon-user"></i></div>
                            <div class="w3-col s8 l9">
                                <input class="w3-input w3-border" name="loginemail" type="text" placeholder="Email">
                            </div>
                        </div>
                        <div class="w3-row w3-section">
                            <div class="w3-col s1 l1 w3-center"><i class="w3-xlarge w3-center flaticon-lock"></i></div>
                            <div class="w3-col s8 l9">
                                <input class="w3-input w3-border" name="loginsenha" type="password" placeholder="Senha">
                            </div>
                        </div>
                        <div class="w3-row w3-section loginreg_text">
                            <div class="w3-col s3 l3 w3-margin-left w3-left"><input class="w3-check" type="checkbox" checked="checked"> Manter Login</div>
                            <div class="w3-col s5 l5 w3-center"><button id="button_enter"><i class="w3-xxxlarge flaticon-enter"></i></button></div>
                            <span class="w3-col s3 l3 w3-right">Esqueceu a senha?<br><a class="w3-text-blue" href="#" target="_self">Clique aqui!</a></span>
                            <div class="w3-container w3-center w3-padding-small">
                                <span>Não tem conta? <button class="w3-text-blue" id="button_to_register">Registre-se aqui!</button></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </template>
    
        <template id="register">
            <div id="card_register" class="w3-modal">
                <div class="w3-modal-content w3-animate-top w3-card-4 loginreg_card">
                    <header class="w3-container w3-center w3-indigo"> 
                        <button class="w3-btn w3-xxlarge w3-display-topright" id="close_register">&times;</button>
                        <img class="w3-image" id="login_logo_coach" src="img/logo_coach.png" alt="Site logo">
                        <br><br>
                        <span class="w3-text-white" id="login_header_text">Preencha os campos para se registrar!</span>
                    </header>
                    <form class="w3-container" action="">
                        <div class="w3-row w3-section">
                            <span>Email:</span>
                            <input class="w3-input w3-border" name="regemail" type="text" placeholder="Ex:example@email.com">
                        </div>
                        <div class="w3-row w3-section">
                            <span>Confirmar Email:</span>
                            <input class="w3-input w3-border" name="regemail2" type="text" placeholder="Repetir Email">
                        </div>
                        <div class="w3-row w3-section">
                            <span>Nome Completo:</span>
                            <input class="w3-input w3-border" type="text" name="nomecompleto" placeholder="Ex:Annie Hastur">
                        </div>
                        <div class="w3-row w3-section">
                            <span>Celular:</span>
                            <input class="w3-input w3-border" type="tel" name="regtel" placeholder="(xx)xxxxx-xxxx apenas número"id="regtel">
                        </div>
                        <div class="w3-row w3-section">
                            <span>Senha:</span>
                            <input class="w3-input w3-border" name="regsenha" type="password" placeholder="Senha">
                        </div>
                        <div class="w3-row w3-section">
                            <span>Confirmar Senha:</span>
                            <input class="w3-input w3-border" name="regsenha2" type="password" placeholder="Repetir Senha">
                        </div>
                        <div class="w3-row w3-section loginreg_text">
                            <div class="w3-col s6 l6 w3-margin-left w3-left"><input class="w3-check" type="checkbox"> Li e concordo com os termos de uso</div>
                            <button class="w3-button s4 l4 w3-blue" id="button_register">Registrar-se</button>
                            <div class="w3-container w3-center w3-padding-small">
                                <span>Já tem conta? <button class="w3-text-blue" id="button_to_login">Faça login aqui!</button></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </template>

        <template id="actual_page">
            <div class="page" id="container_contato">
                <h2>Contate conosco</h2>
                <h3>Preencha todos os campos abaixo ou mande um email para: example@email.com</h3>
                <form class="w3-container" id="contato_forms" action="">
                    <div class="w3-row w3-section">
                        <span>Nome:</span>
                        <input class="w3-input w3-border" type="text" name="nomecompleto">
                    </div>
                    <div class="w3-row w3-section">
                        <span>Email:</span>
                        <input class="w3-input w3-border" name="regemail" type="text">
                    </div>
                    <div class="w3-row w3-section">
                        <span>Assunto:</span>
                        <input class="w3-input w3-border" type="text" name="assunto">
                    </div>
                    <div class="w3-row w3-section">
                        <span>Mensagem:</span>
                        <textarea name="mensagem" id="mensagem" rows="6"></textarea>
                    </div>
                    <div class="w3-row w3-section w3-center">
                        <button class="w3-button s4 l4 w3-blue" id="button_contato">Enviar</button>
                    </div>
                </form>
                
            </div>
        </template>


    <script src="https://unpkg.com/vue">
    </script>
    

    <script type="module">


        Vue.component('nav-bar',{
            template: "#navbar",

            data: function () {
                return {
                    tipodousuario: 3,
                    nomedousuario: "Nathan"
                }
                },

            updated(){

                var vm = this;
                this.$eventHub.$on('submit', function(novotipo,novonome){
                this.tipodousuario=novotipo;
                this.nomedousuario=novonome;
                });
            }
        });

        Vue.component('login',{
            template: "#login"
        });

        Vue.component('register',{
            template: "#register"
        });

        Vue.component('actual_page',{

            template: "#actual_page",

        data: function () {
            return {
                paginaatual: 0
            }
            },

        updated(){

            var vm = this;
            this.$eventHub.$on('changepage', function(novapagina){
            this.paginaatual=novapagina
            });
        }
        });

        Vue.prototype.$eventHub = new Vue();

        var app = new Vue({
            el: "#app",

            data:{

                //0 é sem login, 1 adm, 2 usuario, 3 professor
                tipodousuario: 0,
            }

        })
    </script>

    <script src="javascript/script.js"></script>
</body>
</html>